/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background-color: rgb(183, 214, 229);
}
 h2 {
  align-items: center;
  text-align: center;
  font-weight: 500;
 }

 h4 {
  align-items: center;
  text-align: center;
  padding: auto;
  margin: auto;
 }

#letters {
 background-image: url('/wood.jpg');
 opacity: 90%;
 align-items: center;
 text-align: center;
 display: flex;
 justify-content: space-around;
 width: 94%;
 margin: 10px;
 padding: 10px;
 border: 10px green;
}

#letters p {
  border-radius: 7px;
  background-color: white;
  text-align: center;
  align-items: center;
  width: 30px;
  height: 20px;
  margin: 10px;
}
#form {
  height: 23px;
 display: center;
 max-width: 26%;
 border-radius: 3px;
 background-color: yellow;
 color: black;
 align-items: center;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}
